@import 'src/styles/variables';
@import 'src/styles/theme';

.time-offsets-form {
  padding: 1rem 2rem;
  width: 100%;
  margin-top: 1rem;

  @include themed() {
    border-top: 2px solid t($secondary-color);
  }

  .time-offset-form {
    width: 100%;
    padding: 0.5rem;
    border-radius: $border-radius;

    @include themed() {
      border: 2px solid t($secondary-color);
    }

    .time-offset-form-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .time-offset-form-title {
        flex-grow: 1;
      }
    }

    &.body-hidden {
      .delete-btn {
        visibility: hidden;
      }

      .time-offset-form-body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
      }
    }

    &.body-opened {
      .delete-btn {
        visibility: visible;
      }

      .time-offset-form-body {
        max-height: 200px;
        overflow: visible;
        transition: max-height 0.3s ease-in;
      }
    }

    .id-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .id-label {
        margin-right: 0.5rem;
      }
    }

    .offset-value-input {
      .__input-wrapper {
        width: 5rem;
        max-width: 5rem;

        .__input {
          width: 100%;
        }
      }
    }
  }
}
