$device-M-width: 768px;
$device-L-width: 1024px;
$device-XL-width: 1280px;
$device-XXL-width: 1440px;


@mixin M-device {
  @media (min-width: #{$device-M-width}) {
    @content;
  }
}

@mixin L-device {
  @media (min-width: #{$device-L-width}) {
    @content;
  }
}

@mixin XL-device {
  @media (min-width: #{$device-XL-width}) {
    @content;
  }
}

@mixin XXL-device {
  @media (min-width: #{$device-XXL-width}) {
    @content;
  }
}
