@import 'src/styles/variables';
@import 'src/styles/theme';

.__input-wrapper {
  position: relative;

  .__input {
    padding: 0.5rem;
    font-size: $text-middle;

    outline: none;
    border-width: 1px;
    border-style: solid;
    border-radius: $border-radius;

    &[type="color"] {
      padding: 0;
      cursor: pointer;
    }

    @include themed {
      color: t($primary-text);
      background-color: t($primary-color);
      border-color: t($secondary-text);
    }
  }

  &.invalid {
    .__input {
      border-color: $red;
    }
  }

  &.invalid:hover {
    .__error-msg {
      display: unset;
    }
  }
}

.optional-input {
  flex: 1 0 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .__checkbox_container {
    display: inline-block;
    margin: 0.5rem;
  }
}
