@import 'src/styles/variables';
@import 'src/styles/theme';

.__select {
  padding: 0.5rem;
  font-size: $text-middle;

  outline: none;
  border-width: 1px;
  border-style: solid;
  border-radius: $border-radius;

  cursor: pointer;

  @include themed {
    color: t($primary-text);
    background-color: t($primary-color);
    border-color: t($secondary-text);
  }
}
