@import 'src/styles/variables';
@import 'src/styles/theme';

.activity-form {
  padding: 0.5rem;
  border-radius: $border-radius;

  @include themed() {
    border: 2px solid t($secondary-color);
  }

  .activity-form-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .activity-form-title {
      flex-grow: 1;
    }
  }

  &.body-hidden {
    .delete-btn {
      visibility: hidden;
    }

    .activity-form-body {
      max-height: 0;
      overflow: hidden;
      transition: max-height 1s, overflow 0s;
    }
  }

  &.body-opened {
    .delete-btn {
      visibility: visible;
    }

    .activity-form-body {
      max-height: unset;
      overflow: auto;
      transition: max-height 1s, overflow 0s;
    }
  }
}
